html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-size: cover;
}

ul {
	list-style: none;
}

#header {
	position: relative;
	display:inline;
	height: 100%;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	float: none;
	top: 0.2em;
}

.panel-heading {
	border-color: #383838;
	border-radius: 0;
	height: 6%;
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	background-color: #383838;
	color: white;
}

#game-page {
	height: 100%;
}

.initial-game-btns {
	padding-top: 15px;
}

#new-game-btn {
	background-color: #66a3ff;
}

#start-game-btn {
	background-color: #ff9933;
	margin-top: 10px;
}


.start-game {
}

.sidebar {
	height: 94%;
	margin: 0 auto;
	text-align: center;
	display: table;
	table-layout: fixed;
	border: #383838;
	border-style: solid;
	border-width: 2px;
	border-radius: 1px;
}

#map {
	height: 94%;
	margin: 0;
	border: #383838;
	border-style: solid;
	border-width: 2px;
	border-radius: 1px;
}

#game-info {
	margin-top: 10px;
}

#route-list {
	padding: 0;
	text-align: center;
}

#clear-route-btn {
	background-color: #e60000;
	margin: 0;
	margin-top: 10px;
}

#submit-route-btn {
	background-color: #ff9933;
	margin: 0;
	margin-top: 10px;
}
